.SubTitlePageNav__Inner {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.SubTitlePageNav__NavItemLink--IsActive:before,
.SubTitlePageNav__NavItemLink:hover:before {
    bottom: auto;
    top: -2px;
}

.SubTitlePageNav__NavItem {
    display: inline-block;
}
