{# @var \App\Users\Models\UserModel[] userModels #}
{# @var \App\HttpHelpers\Pagination\Pagination pagination #}

{% extends 'Http/Admin/_AdminLayout.twig' %}

{% set contentClass = 'max-w-4xl' %}

{% set heading = 'Users' %}

{% set actionButton = {
    href: '/admin/users/create',
    content: 'New',
} %}

{% set items = [] %}

{% for user in userModels %}
    {% set column2 = [] %}

    {% if user.fullName %}
        {% set column2 = column2|merge([user.fullName]) %}
    {% endif %}

    {% if user.displayName %}
        {% set column2 = column2|merge(['Display Name: ' ~ user.displayName]) %}
    {% endif %}

    {% set items = items|merge([{
        href: "/admin/users/view/#{user.id}",
        title: user.emailAddress,
        subtitle: 'Admin: ' ~ (user.isAdmin ? 'Yes' : 'No'),
        column2: column2,
    }]) %}
{% endfor %}

{% block adminContent %}
    <form action="/admin/users/search">
        <label
            for="search"
            class="block text-sm font-medium leading-5 text-gray-700"
        >
            Search users
        </label>
        <div class="mt-1 flex rounded-md shadow-sm">
            <div class="relative flex-grow focus-within:z-10">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                    <svg class="h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"></path>
                    </svg>
                </div>
                <input
                    id="search"
                    class="form-input block w-full rounded-none rounded-l-md pl-10 transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                    placeholder="John Doe"
                    name="q"
                >
            </div>
            <button
                class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-r-md text-gray-700 bg-gray-50 hover:text-gray-500 hover:bg-white focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150"
            >
                <span class="mr-1">Search</span>
                <svg class="h-5 w-5 text-gray-400 dark:text-gray-200" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
    </form>
    {% include 'Http/_Infrastructure/Components/WideLists.twig' with {
        groups: [{
            items: items,
            pagination: pagination
        }],
    } only %}
{% endblock %}
