.Note {
    background-color: var(--SpringWood);
    border: 1px solid var(--AquaIsland);
    font-size: 14px;
    margin: 30px 0;
    padding: 20px;
    position: relative;
}

.Note__Heading {
    background-color: rgba(var(--DeepSea), 0.85);
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    left: 10px;
    padding: 0 10px;
    position: absolute;
    top: -18px;
}
