.Documentation__Sidebar {
    left: 0;
    position: absolute;
    top: -32px;
}

.Documentation__SidebarSection {
    width: 310px;
}

.Documentation__Content {
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
    margin: 40px 30px 40px 376px;
}
