.Message {
    background-color: var(--LightGray);
    border: 2px solid var(--Gray);
    border-radius: 3px;
    line-height: 1.3em;
    padding: 12px;
}

.Message--IsSuccess {
    background-color: var(--AquaHaze);
    border-color: var(--AquaIsland);
}

.Message--IsWarning {
    background-color: var(--SpringWood);
    border-color: var(--GoldSand);
}

.Message--IsError {
    background-color: var(--LighterRed);
    border-color: var(--Red);
}
