parameters:
    level: max
    ignoreErrors:
        -
            message: '#Variable method call on \$this\(App\\Payload\\SpecificPayload\)\.#'
            path: %currentWorkingDirectory%/src/Payload/SpecificPayload.php
        -
            message: '#Variable method call on \$this\(App\\Content\\Modules\\ExtractModulesFromPath\)\.#'
            path: %currentWorkingDirectory%/src/Content/Modules/ExtractModulesFromPath.php
    excludes_analyse:
        - %currentWorkingDirectory%/config/dumper.php
        - %currentWorkingDirectory%/config/Abstractions/SimpleModel.php
        - %currentWorkingDirectory%/tests/TestConfig.php

includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
