parameters:
    level: max
    ignoreErrors:
        -
            message: '#If condition is always true\.#'
            path: %currentWorkingDirectory%/tests/TestConfig.php

includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
