parameters:
    level: max
    bootstrap: phpstan-bootstrap.php
    ignoreErrors:
        -
            message: '#Variable method call on \$this\(App\\Payload\\SpecificPayload\)\.#'
            path: %currentWorkingDirectory%/src/Payload/SpecificPayload.php
        -
            message: '#Variable method call on \$this\(App\\Content\\Modules\\ExtractModulesFromPath\)\.#'
            path: %currentWorkingDirectory%/src/Content/Modules/ExtractModulesFromPath.php
        -
            message: '''
                #Function password_hash is unsafe to use\. It can return FALSE instead of throwing an exception\. Please add 'use function Safe\\password_hash;' at the beginning of the file to use the variant provided by the 'thecodingmachine/safe' library\.#
            '''
            path: %currentWorkingDirectory%/src/Users/Services/SaveUser.php
        -
            message: '#Instanceof between DateTimeImmutable and DateTimeImmutable will always evaluate to true\.#'
            path: %currentWorkingDirectory%/src/Users/Models/UserModel.php
        -
            message: '#Instanceof between DateTimeImmutable and DateTimeImmutable will always evaluate to true\.#'
            path: %currentWorkingDirectory%/src/Software/Models/SoftwareVersionModel.php
        -
            message: '#Only booleans are allowed in a negated boolean, string given\.#'
            path: %currentWorkingDirectory%/src/Persistence/SaveNewRecord.php
        -
            message: '#Only booleans are allowed in a negated boolean, string given\.#'
            path: %currentWorkingDirectory%/src/Persistence/SaveExistingRecord.php
        -
            message: '#Variable property access on \$this\(App\\Persistence\\Record\)\.#'
            path: %currentWorkingDirectory%/src/Persistence/Record.php
        -
            message: '#Variable method call on \$this\(App\\Payload\\Model\)\.#'
            path: %currentWorkingDirectory%/src/Payload/Model.php
        -
            message: '#Cannot cast.*#'
            path: %currentWorkingDirectory%/src/Schedule/Services/TranslateRunEvery.php
        -
            message: '#Call to function is_numeric\(\) with.*#'
            path: %currentWorkingDirectory%/src/Schedule/Services/TranslateRunEvery.php
        -
            message: '#Only booleans are allowed in a negated boolean, string given\.#'
            path: %currentWorkingDirectory%/src/Schedule/Services/SaveSchedule.php
        -
            message: '#Offset 0 does not exist on array\(\)\.#'
            path: %currentWorkingDirectory%/tests/Software/Services/SaveSoftwareTest.php
        -
            message: '#Offset 1 does not exist on array\(\)\.#'
            path: %currentWorkingDirectory%/tests/Software/Services/SaveSoftwareTest.php
        -
            message: "#Call to static method PHPUnit\\\\Framework\\\\Assert::assertInstanceOf\\(\\) with 'DateTimeImmutable' and DateTimeImmutable will always evaluate to true\\.#"
            path: %currentWorkingDirectory%/tests/Software/Services/FetchSoftwareBySlugTest.php
        -
            message: "#Casting to array<string> something that's already array<string>\\.#"
            path: %currentWorkingDirectory%/src/Persistence/RecordQuery.php
    excludes_analyse:
        - %currentWorkingDirectory%/config/dumper.php
        - %currentWorkingDirectory%/config/Abstractions/SimpleModel.php
        - %currentWorkingDirectory%/tests/TestConfig.php

includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
