.PrimaryImageTextHalfBlack__Heading,
.PrimaryImageTextHalfBlack__ImageContainer,
.PrimaryImageTextHalfBlack__ContentInner {
    padding-left: 30px;
    padding-right: 30px;
}

.PrimaryImageTextHalfBlack__Heading {
    margin-top: 46px;
}

.PrimaryImageTextHalfBlack__ContentInner {
    padding-bottom: 46px;
    padding-top: 46px;
}
