.Image {
    padding: 26px 4px;
}

.Image--HasBackgroundColorSpringWood {
    background-color: var(--SpringWood);
}

.Image__Inner {
    line-height: 0;
    margin: 0 auto;
    max-width: 1400px;
}

.Image__Inner--HasShadow {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35);
}

.Image__ImgTag {
    width: 100%;
}
