{% do requireVariables({
    metaPayload: 'App\\Content\\Meta\\MetaPayload',
    release: 'MJErwin\\ParseAChangelog\\Release',
    softwareInfoPayload: 'App\\Content\\Software\\SoftwareInfoPayload',
    uriPath: 'string',
    activeHref: 'string',
}) %}

{# @var \App\Content\Meta\MetaPayload metaPayload #}
{# @var \MJErwin\ParseAChangelog\Release release #}
{# @var \App\Content\Software\SoftwareInfoPayload softwareInfoPayload #}
{# @var string uriPath #}
{# @var string activeHref #}

{% extends '_Layout.twig' %}

{% set navItemsLeft = [
    {
        href: uriPath,
        content: 'Features',
    },
    {
        href: uriPath ~ '/changelog',
        content: 'Changelog',
    },
] %}

{% set navItemsRight = [] %}

{% if softwareInfoPayload.getHasDocumentation() %}
    {% set navItemsRight = [{
        href: uriPath ~ '/documentation',
        content: 'Documentation',
    }] %}
{% endif %}

{% block content %}
    {% include 'Includes/TitleArea.twig' with {
        title: softwareInfoPayload.getTitle(),
        subTitle: softwareInfoPayload.getSubTitle(),
        actionButtons: softwareInfoPayload.getActionButtons(),
    } only %}

    {% include 'Includes/SubTitlePageNav.twig' with {
        navItemsLeft: navItemsLeft,
        navItemsRight: navItemsRight,
        activeHref: activeHref,
    } only %}

    {% set softwareTitle = softwareInfoPayload.getTitle() %}

    {% if softwareInfoPayload.getSubTitle() %}
        {% set softwareTitle = softwareTitle ~ ' ' ~ softwareInfoPayload.getSubTitle() %}
    {% endif %}

    {% include 'Includes/BreadCrumbs.twig' with {
        breadcrumbs: [
            {
                href: uriPath,
                content: softwareTitle,
            },
            {
                href: uriPath ~ '/changelog',
                content: 'Changelog',
            },
            {
                content: 'Version ' ~ release.getVersion(),
            },
        ],
    } %}

    <div class="StandardPageContent StandardPageContent--Max1600">
        <div class="BoxContainer">
            {% set permalink %}
                <a href="{{ activeHref }}/{{ release.getVersion() }}">
                    Permalink
                </a>
            {% endset %}
            {% include "Includes/Box.twig" with {
                sidebar: [
                    {
                        key: 'version',
                        value: '<strong>' ~ release.getVersion() ~ '</strong>',
                    },
                    {
                        key: 'released',
                        value: '<strong>' ~ release.getDate() ~ '</strong>',
                    },
                    {
                        value: permalink,
                    },
                ],
                content: release.toHtml(),
            } only %}
        </div>
    </div>
{% endblock %}
