.CtaCards__Inner {
    padding: 40px 30px;
}

.CtaCards__ItemTitle {
    font-size: 26px;
    padding: 16px;
}

.CtaCards__ItemBodyCtaLink {
    font-size: 20px;
}

.CtaCards__ItemBodyBullets {
    margin-left: 38px;
}

.CtaCards__ItemBodyBullet:before {
    height: 26px;
    left: -40px;
    top: 4px;
    width: 26px;
}

.CtaCards__ItemBodyFooterContent {
    font-size: 16px;
}
