{% extends 'Http/_Global/_Layout.twig' %}

{% block content %}
    <br><br><br><br><br><br><br><br>
    <p class="dark:text-gray-300">Lorem ipsum</p>
    <br><br><br><br><br><br><br><br>
{% endblock %}
