{# @var \App\Users\Models\UserModel user #}

{% extends 'Http/Account/_AccountLayout.twig' %}

{% import 'Http/_Infrastructure/Components/Forms/Macros/Buttons.twig' as Buttons %}
{% import 'Http/_Infrastructure/Components/Forms/Macros/Inputs.twig' as Inputs %}

{% block accountContent %}
    <div class="max-w-xl">
        {% include 'Http/_Infrastructure/Components/Forms/SimpleStackedForm.twig' with {
            title: 'Change Your Password',
            subtitle: user.emailAddress,
            inputs: [
                {
                    type: 'password',
                    label: 'Existing Password',
                    name: 'password',
                },
                {
                    type: 'password',
                    label: 'New Password',
                    name: 'new_password',
                },
                {
                    type: 'password',
                    label: 'Confirm New Password',
                    name: 'confirm_new_password',
                },
            ]
        } %}
    </div>
{% endblock %}
