.TextColumns__Inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 46px 30px;
}

.TextColumns__Column {
    width: calc(50% - 30px);
}

.TextColumns__ColumnHeading {
    font-size: 36px;
}
