.InformationalImage__Inner {
    padding: 34px 34px 0;
}

.InformationalImage__Headline {
    font-size: 44px;
}

.InformationalImage__SubHeading {
    font-size: 30px;
}

.InformationalImage__Headline,
.InformationalImage__SubHeading,
.InformationalImage__Content {
    margin-bottom: 30px;
}
