{% extends 'Http/_Infrastructure/_Layout.twig' %}

{% block content %}
    <div
        class="mx-auto py-20"
        style="max-width: 400px"
    >
        <div class="text-center pb-10">
            <img
                class="shadow-md"
                src="/uploads-static/general/faceplant.gif"
                alt="Imperial Walker Face Plant"
            >
        </div>

        <h1 class="font-bold text-3xl leading-none pb-4">
            An internal server error occurred
        </h1>

        <div class="rich-text-style">
            <p>We&rsquo;re sorry about this, our server seems to have encountered an embarrassing and unknown problem. You can get back to safe territory by using the menu above or <a href="/">clicking this link</a> to get back to the home page.</p>
        </div>
    </div>
{% endblock %}
