{% do requireVariables({
    activeTab: 'string',
}) %}

{% extends '_Layout.twig' %}

{% macro tab(tabSlug, tabName, activeTab) %}
    <li class="TabbedLayout__Tab">
        <a
            href="/admin/{{ tabSlug }}"
            class="TabbedLayout__TabLink{% if activeTab == tabSlug %} TabbedLayout__TabLink--IsActive{% endif %}"
        >
            {{ tabName|smartypants }}
        </a>
    </li>
{% endmacro %}

{% block content %}
    <div class="TabbedLayout">
        <div class="TabbedLayout__Inner">
            <h1 class="heading heading--level-3 TabbedLayout__Heading">Admin Controls</h1>
            <ul class="TabbedLayout__Tabs">
                {{ _self.tab('software', 'Software', activeTab) }}
            </ul>
            <div class="TabbedLayout__Content">
                {{ block('adminContent') ?? '' }}
            </div>
        </div>
    </div>
{% endblock %}
