{% do requireVariables({
    metaPayload: 'App\\Content\\Meta\\MetaPayload',
    activeTab: 'string',
}) %}

{% extends 'Admin/_AdminLayout.twig' %}

{% block adminContent %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at consectetur corporis, cumque distinctio dolor eius, error expedita facere minima molestiae nobis nostrum porro quis quisquam quod suscipit totam vero? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at consectetur corporis, cumque distinctio dolor eius, error expedita facere minima molestiae nobis nostrum porro quis quisquam quod suscipit totam vero?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at consectetur corporis, cumque distinctio dolor eius, error expedita facere minima molestiae nobis nostrum porro quis quisquam quod suscipit totam vero? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at consectetur corporis, cumque distinctio dolor eius, error expedita facere minima molestiae nobis nostrum porro quis quisquam quod suscipit totam vero?</p>
{% endblock %}
