.QuoteBlocks__Block {
    margin: 20px;
}

.QuoteBlocks__BlockInner {
    padding: 40px 24px;
}

.QuoteBlocks__BlockHeaderTitle {
    bottom: 74px;
}

.QuoteBlocks__BlockHeaderPosition {
    top: 74px;
}
