.choices__inner {
    @apply rounded-md shadow-sm bg-transparent !important;
}

.select-wrapper-error .choices__inner {
    @apply border-red bg-lighter-red !important;
}

/**
 * I give up for now. Don't have time for this
 */

/* @screen dark {
    .choices__inner,
    .choices__input {
        @apply bg-nandor-light text-gray-200 !important;
    }

    .choices__list--dropdown {
        @apply bg-nandor-light text-gray-200;
    }
} */
