{% do requireVariables({
    title: 'string',
    subTitle: 'string',
    actionButtons: 'array',
}) %}

{# @var string title #}
{# @var string subTitle #}
{# @var \App\Content\Modules\Payloads\CtaPayload[] actionButtons #}

{% set hasActionButtons = actionButtons|length %}

<div class="TitleArea">
    <div class="TitleArea__Inner{% if hasActionButtons %} TitleArea__Inner--HasActionButtons{% endif %}">
        <h1 class="heading heading--level-1 TitleArea__Title{% if hasActionButtons %} TitleArea__Title--HasActionButtons{% endif %}">
            {{ title|smartypants|widont }}
            {% if subTitle %}
                <small class="TitleArea__Small">
                    {{ subTitle|smartypants|widont }}
                </small>
            {% endif %}
        </h1>
        {% if hasActionButtons %}
            <div class="TitleArea__ActionButtons">
                {% for button in actionButtons %}
                    <a
                        href="{{ button.getHref() }}"
                        class="button TitleArea__ActionButton{% if loop.last %}  button--light{% else %} button--colored{% endif %}"
                    >
                        {{ button.getContent()|smartypants|widont }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
