.ImageCallOut__Inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.ImageCallOut__ContentArea {
    width: calc(45% - 20px);
}

.ImageCallOut__ImageWrapper {
    width: calc(55% - 20px);
}
