{# @var \Config\General GeneralConfig #}

{% do requireVariables({
    modulePayload: 'App\\Content\\Modules\\ModulePayload',
}) %}

{# @var \App\Content\Modules\ModulePayload modulePayload #}

<div class="Modules">
    {% for payload in modulePayload.getItems() %}
        {% set templatePath = 'Modules/' ~ payload.getName() ~ '.twig' %}

        {% if templateExists(templatePath) %}
            {% include templatePath with {
                payload: payload,
                moduleCount: loop.index,
            } only %}
        {% else %}
            {% if GeneralConfig.devMode %}
                <div style="text-align: center;">
                    <br><br><br>
    <pre>
    =====================================<br>
    TODO: Implement module: {{ payload.getName() }}<br>
    =====================================<br>
    </pre>
                    <br><br><br>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
