{% do requireVariables({
    payload: 'App\\Content\\Modules\\Payloads\\CtasPayload',
}) %}

{# @var \App\Content\Modules\Payloads\CtasPayload payload #}

<section class="CTAs">
    <div class="CTAs__Inner">
        {% for cta in payload.getCtas() %}
            <a
                href="{{ cta.getHref() }}"
                class="button CTAs__Button{% if not loop.last %} button--light{% else %} button--colored{% endif %}"
            >
                {{ cta.getContent()|smartypants }}
            </a>
        {% endfor %}
    </div>
</section>
