.mt-9 {
    margin-top: 2.25rem;
}

.mt-11 {
    margin-top: 2.75rem;
}

@screen sm {
    .sm\:mt-9 {
        margin-top: 2.25rem;
    }

    .sm\:mt-11 {
        margin-top: 2.75rem;
    }
}

@screen md {
    .md\:mt-9 {
        margin-top: 2.25rem;
    }

    .md\:mt-11 {
        margin-top: 2.75rem;
    }
}

@screen lg {
    .lg\:mt-9 {
        margin-top: 2.25rem;
    }

    .lg\:mt-11 {
        margin-top: 2.75rem;
    }
}
