.w-cal-50percent-30px {
    width: calc(50% - 30px);
}

.w-49p {
    width: 49%;
}

@screen sm {
    .sm\:w-cal-50percent-30px {
        width: calc(50% - 30px);
    }

    .sm\:w-49p {
        width: 49%;
    }
}

@screen md {
    .md\:w-cal-50percent-30px {
        width: calc(50% - 30px);
    }

    .md\:w-49p {
        width: 49%;
    }
}

@screen lg {
    .lg\:w-cal-50percent-30px {
        width: calc(50% - 30px);
    }

    .lg\:w-49p {
        width: 49%;
    }
}
