{# @var \App\Content\Changelog\ChangelogPayload allChangelogPayload #}
{# @var \App\Content\Changelog\ChangelogPayload changelogPayload #}
{# @var \App\HttpHelpers\Pagination\Pagination pagination #}
{# @var \App\Content\Software\SoftwareInfoPayload softwareInfoPayload #}
{# @var string uriPath #}
{# @var string activeNavHref #}

{% extends 'Http/Software/_SoftwareLayout.twig' %}

{% block softwareContent %}
    <div class="max-w-screen-xl mx-auto">
        <div class="sm:flex">
            <aside class="hidden sm:flex sm:flex-shrink-0">
                <ol class="w-32 md:w-40 lg:w-48 p-6 md:p-10 lg:p-16">
                    {% for release in allChangelogPayload.releases %}
                        <li>
                            <a
                                href="{{ pagination.base }}/{{ release.version }}"
                                class="font-medium text-meteor hover:text-rich-gold dark:text-champagne dark:hover:text-gold-sand underline transition duration-150 ease-in-out"
                            >
                                {{ release.version }}
                            </a>
                        </li>
                    {% endfor %}
                </ol>
            </aside>
            <section class="p-6 md:p-10 lg:p-16 sm:flex sm:flex-col sm:flex-1 sm:border-l sm:border-gray-200">
                {% if pagination.totalPages > 0 %}
                    <div class="mb-10">
                        {% include 'Http/_Infrastructure/Components/Pagination.twig' with {
                            pagination: pagination,
                        } only %}
                    </div>
                {% endif %}
                {% for release in changelogPayload.releases %}
                    {% include('Http/Software/_ChangelogItem.twig') with {
                        release: release,
                        includePermalink: true,
                        hrefBase: pagination.base,
                        includeBottomBorder: true,
                        includeBottomSpacing: true,
                    } only %}
                {% endfor %}
                {% if pagination.totalPages > 0 %}
                    {% include 'Http/_Infrastructure/Components/Pagination.twig' with {
                        pagination: pagination,
                    } only %}
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}
