.TitleArea__Inner--HasActionButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TitleArea__Title--HasActionButtons,
.TitleArea__ActionButtons {
    width: calc(50% - 8px);
}

.TitleArea__Title {
    text-align: left;
}

.TitleArea__ActionButtons {
    margin-right: -10px;
    text-align: right;
}
