:root {
    --AquaHaze: #eef5f3;
    --AquaIsland: #99dbca;
    --CaribbeanGreen: #00bf8f;
    --Jade: #00a67c;
    --DeepSea: #008c69;
    --SpringWood: #f6f2ee;
    --GoldSand: #e6b894;
    --Whiskey: #d89c6d;
    --Meteor: #cf640e;
    --PumpkinSkin: #b7580c;
    --RichGold: #9f4d0b;
    --TotemPole: #9f290b;
    --LightGray: #dedede;
    --Gray: #868686;
    --Nandor: #545f5c;
    --MineShaft: #313131;
}
