:root {
    --PrimaryFont: 'Noto Sans SC', sans-serif;
    --PrimaryFontThinWeight: 100;
    --PrimaryFontLightWeight: 300;
    --PrimaryFontRegularWeight: 400;
    --PrimaryFontMediumWeight: 500;
    --PrimaryFontBoldWeight: 700;
    --PrimaryFontBlackWeight: 900;

    --SecondaryFont: 'Arvo', serif;
    --SecondaryFontRegularWeight: 400;
    --SecondaryFontBoldWeight: 700;
}
