.TextColumns__Inner {
    margin: 0 auto;
    max-width: 1440px;
    padding: 26px 14px;
}

.TextColumns--HasBackgroundColorSpringWood {
    background-color: var(--SpringWood);
}

.TextColumns__Column {
    margin-bottom: 40px;
}

.TextColumns__ColumnHeading {
    color: var(--Nandor);
    font-size: 28px;
}
